---
import { getI18n } from '@/utils/config';

interface Props {
  article: {
    title: string;
    createdDate: string;
    url: string;
  };
}
const { article } = Astro.props;
const i18n = getI18n(Astro.currentLocale);
---

<div class='mb-4'>
  <p class='text-brand-accent-secondary'>
    ~/docs/{article.title.toLowerCase().replace(/ /g, '_')}:
  </p>

  <p class='text-brand-text-secondary ml-4'>
    <span class='text-brand-accent-secondary'
      >{i18n.cardArticleBlog.created}:</span
    >
    {article.createdDate}
  </p>

  <p class='text-brand-text-secondary ml-4'>
    <span class='text-brand-accent-secondary'>{i18n.cardArticleBlog.url}:</span
    >{' '}
    <a
      href={article.url}
      class='text-brand-accent-secondary hover:underline'
      target='_blank'
      rel='noopener noreferrer'
    >
      {article.url}
    </a>
  </p>
</div>
