---
import { getRelativeLocaleUrl } from 'astro:i18n';
import { getI18n } from '@/utils/config';

const i18n = getI18n(Astro.currentLocale);
---

<div class='mb-4'>
  <p class='text-brand-text-secondary ml-4'>
    <span class='text-brand-accent-secondary'>{i18n.noArticlesBlog.oops}</span>
    {i18n.noArticlesBlog.cooking}
  </p>

  <p class='text-brand-text-secondary ml-4'>
    {i18n.noArticlesBlog.checkBack}
  </p>

  <p class='text-brand-text-secondary ml-4'>
    {i18n.noArticlesBlog.explore}{' '}
    <a
      href={getRelativeLocaleUrl(Astro.currentLocale || 'en', '/')}
      class='text-brand-accent-secondary hover:underline transition-colors duration-200'
    >
      {i18n.noArticlesBlog.portfolioLink}
    </a>?
  </p>
</div>
