---
// src/components/TerminalMenu.astro
import { getI18n } from '@/utils/config';
import DownloadResume from './DownloadResume.astro';
import { getRelativeLocaleUrl } from 'astro:i18n';

const i18n = getI18n(Astro.currentLocale);
const currentLocale = Astro.currentLocale || 'en';
---

<div class='flex flex-col sm:flex-row sm:items-end justify-between py-5'>
  <div>
    <p class='text-green-400 dark:text-rose-400'>$</p>
    <p class='text-green-400 dark:text-rose-400'>
      $ <span class='text-blue-400 dark:text-lime-300'>{i18n.meta.text1}:</span>
    </p>

    {
      i18n.menu.map((menuItem) => (
        <p class='text-slate-300 dark:text-gray-100 ml-4'>
          <a
            title={menuItem.description}
            href={getRelativeLocaleUrl(currentLocale, menuItem.url)}
            class='text-blue-400 dark:text-lime-300 hover:underline'
          >
            {menuItem.title}
          </a>
          - {menuItem.description}
        </p>
      ))
    }
    <p class='text-slate-300 dark:text-gray-100 ml-4'>
      <a
        title='GitHub'
        href='https://github.com/pedrosorrentino'
        class='text-blue-400 dark:text-lime-300 hover:underline'
      >
        ~/gitHub
      </a>
      - {i18n.meta.text2}
    </p>
  </div>
  <DownloadResume />
</div>
