---
import { DEFAULT_META } from '@/utils/config';
import { ClientRouter } from 'astro:transitions';
import '../styles/globa.css';
import TotalTime from '@/components/TotalTime';
const canonicalUrl = Astro.url.href;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1.0, viewport-fit=cover'
    />

    <title>{DEFAULT_META.title}</title>
    <meta name='description' content={DEFAULT_META.description} />
    <meta name='author' content='Pedro Sorrentino' />
    <meta name='publisher' content='Pedro Sorrentino' />
    <meta name='generator' content={Astro.generator} />
    <link rel='canonical' href={canonicalUrl} />
    <meta name='robots' content='index, follow' />

    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />

    <meta name='apple-mobile-web-app-capable' content='yes' />
    <meta name='apple-mobile-web-app-status-bar-style' content='default' />

    <meta http-equiv='X-Content-Type-Options' content='nosniff' />

    <meta property='og:type' content='website' />
    <meta property='og:url' content={canonicalUrl} />
    <meta property='og:title' content={DEFAULT_META.title} />
    <meta property='og:description' content={DEFAULT_META.description} />
    <meta property='og:image' content='/ogImage.webp' />

    <meta name='twitter:card' content='summary_large_image' />
    <meta name='twitter:url' content={canonicalUrl} />
    <meta name='twitter:title' content={DEFAULT_META.title} />
    <meta name='twitter:description' content={DEFAULT_META.description} />
    <meta name='twitter:image' content='/ogImage.webp' />

    <meta name='color-scheme' content='dark light' />

    <ClientRouter />
  </head>
  <body class='bg-white dark:bg-gray-900'>
    <main class='max-w-4xl sm:mx-auto mx-5'>
      <slot />
      <TotalTime client:only='preact' />
    </main>
  </body>
</html>
